.player-card {
  text-align: center;
}

#home-icon {
  position: fixed;
  top: 5vh;
  left: 5vw;
  cursor: pointer;
}

#lobby-root {
  width: 100vw;
}

#p-image-candidate {
  cursor: pointer;
}

#leaderboard-root {
  width: 100vw;
  color: white;
}

.translate-background-upper-right {
  animation: move_bg 2s linear infinite;
}

.game-vote-class {
    background-size: cover;
    background-repeat: round;
}

@keyframes move_bg {
  0% {
    transform: rotate(10deg) scale(2);
    background-position: 0 0;
  }

  100% {
    transform: rotate(10deg) scale(2);
    background-position: 50px -50px;
  }
}

@keyframes shine {
  100% {
    background-position: 200% center;
  }
}
