#chat-toggle {
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    top: 5vh;
    right: 5vw;
    padding: 10px;
}

#chat-notification {
    position: absolute;
    top: -5%;
    right: -5%;
    background-color: red;
    padding: 5px;
    border-radius: 50%;
}

#chat-drawer {
    position: fixed;
}